@charset "utf-8";
/* CSS Document */
/*chỉ áp dụng các thẻ ul con của id=menu*/
#menu ul { list-style:none} /*list-style:none bỏ biểu tượng dấu chấm*/
/*chỉ áp dụng các thẻ li con của id=menu*/
#menu ul li { float:left;  position:relative; height:30px; 
			padding-top:7px; padding-left:10px; padding-right:10px;}
#menu ul li a{color:white; text-decoration:none} /*mọi thẻ a trong li*/
#menu ul li:hover {border:1px red solid; border-radius:10px; background-color:#FFF}
#menu ul li:hover > a{color:red} /*di qua li, chỉ áp dụng thẻ a trực tiếp thuộc li*/
/*menu cấp 2*/
/*phải đăt position:relative cho li bên trên*/
#menu ul li ul {width:150px; position:absolute; left:0px; top:30px; 
				border-radius:10px;
				background:#090; opacity:0.9; visibility:hidden}
#menu ul li ul li {width:150px}
#menu ul li:hover ul{visibility:visible}/*khi di qua li trên thì ul dưới hiện ra*/
