/*Authen modal*/
.auth-form{
    width: 500px;
    border-radius: 5px;
    overflow: hidden;        /*thằng con thò ra thằng cha thì ẩn đi*/
    background-color: var(--white-color);
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 20px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-sign-up{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.btn.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 28px;
}
.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}


/*Login form*/
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    margin: -2px 16px 0;
    height: 22px;
    display: block;
    border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

/*Sign-up form*/
