.banner-product-list{
    padding: 0 150px;
    margin-bottom: 20px;
    background-image: url('../images/BannerP.png');
    background-size: cover;
}

.banner-product-list-content{
    color: white;
    padding: 50px 0;
}

/* App-container */
.grid{
    background-color: white;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.04);
}
.category__heading{
    background-color:var(--bg-primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 16px 16px;
    margin-top: 0;
}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
}
.category-item{
    position: relative;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    padding: 6px 20px;
}
.category-item__link:hover{
    color: var(--primary-color);
}

.category-item__link img{
    margin-right: 10px;
}

/* Home sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04); 
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    height: 350px;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    padding-top: 100%;
    /*Làm ảnh hình vuông chỉ cần mỗi thuộc tính như này kết hợp với background-img trực tiếp bên HTML*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 10px 10px 6px 10px;

    /*Hiển thị chữ chỉ dài 2 dòng , thừa thì thành dấu ...*/
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;   /*Hướng của dòng chữ ( theo chiều dọc)*/
    -webkit-line-clamp: 2;          /*xuất hiện dấu ... tại dòng số 2*/
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like{
    font-size: 1.3rem;
}
.home-product-item__like-icon-fill{
    display: none;
    color: #f63d30;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
}

.home-product-item__star__gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product__pagination{
    margin: 48px 0 32px;
}